<div class="col-10 mx-auto text-center mt-4">
  <h3>Lorem ipsum dolar sit</h3>
  <p class="text-justify mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur blanditiis cupiditate distinctio,
    dolorem dolorum eos eum facilis fugit iure iusto labore libero molestiae molestias nam nisi quos sequi soluta?<br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur cupiditate eveniet minus optio rem similique, ut veniam?</p>
</div>
