<div class="row buy">
  <div class="mx-auto left">
    <p class="mb-3">Quantity</p>
    <div class="row d-flex">
      <a href="" class="minus"><img src="assets/images/minus.png" width="40" height="40" alt=""></a>
      <span class="num">1</span>
      <a href="" class="plus"><img src="assets/images/plus.png" width="40" height="40" alt=""></a>
    </div>
  </div>
  <div class="w-25 mx-auto right col-4">
    <h1>Price <span class="text-success">32$</span></h1><br>
    <button class="btn btn-success p-2 w-100">Add to cart</button>
  </div>
</div>
