<div class="mt-5 mb-5 m-3 row">
  <div class="mx-auto">
    <img src="assets/images/user.png" width="30" height="30" alt="">
    <span class="ml-2 text-secondary">TatiUser</span>
  </div>
  <div class="mx-auto">
    <img src="assets/images/location.png" width="30" height="30" alt="">
    <span class="ml-2 text-secondary">3 Vakhtang Gorgasali III Dead End, Tbilisi</span>
  </div>
  <div class="mx-auto">
    <img src="assets/images/call.png" width="30" height="30" alt="">
    <span class="ml-2 text-secondary">+995 599 12 21 13</span>
  </div>
</div>
<div class="col-12 mx-auto">
  <h4 class="text-secondary">About seller</h4>
  <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur blanditiis cupiditate distinctio,
    dolorem dolorum eos eum facilis fugit iure iusto labore libero molestiae molestias nam nisi quos sequi soluta?</p>
</div>
