<div style="width: 450px;">
  <div class="container d-block img1">
    <img src="assets/images/img1.jpg" id="expandedImg" style="margin-top:5px; width:100%; height: 300px; ">
  </div>
  <div class="row m-3">
    <div class="mx-auto">
      <img class="img" src="assets/images/img1.jpg" height="80" onclick="myFunction(this);">
    </div>
    <div class="mx-auto">
      <img class="img" src="assets/images/img2.jpg" height="80" onclick="myFunction(this);">
    </div>
    <div class="mx-auto">
      <img class="img" src="assets/images/img3.jpg" height="80" onclick="myFunction(this);">
    </div>
  </div>

</div>
